.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
.vscode/
annotations.md

.docker/logs/rabbitmq/*
!.docker/logs/rabbitmq/.gitkeep

.docker/database/*
.docker/queue/*
!.docker/queue/.gitkeep